@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,300&display=swap");

@font-face {
	font-family: 'Open Sans';
	src:url("/fonts/OpenSansLight/OpenSansLight.eot");
	src:url("/fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype");
	src:url("/fonts/OpenSansLight/OpenSansLight.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Open Sans';
	src:url("/fonts/OpenSansRegular/OpenSansRegular.eot");
	src:url("/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype");
	src:url("/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Open Sans';
	src:url("/fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
	src:url("/fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype");
	src:url("/fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Open Sans';
	src:url("/fonts/OpenSansBold/OpenSansBold.eot");
	src:url("/fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype");
	src:url("/fonts/OpenSansBold/OpenSansBold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}