.footer__social {
    text-align: center;
	list-style-image: none;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    width: 100%;

    li {
        vertical-align: middle;
        display: inline-block;
        margin: 0 2px;

        &:before {
            content: initial;
        }

        img {
            width: 38px;
        }

        & a {
            text-align: center;
            transition: all .3s linear 0s;
        }

        & a:hover {
            opacity: 0.8;
        }
    }
}

.header__social {
    display: inline-block;
    list-style-image: none;
    list-style: none;
    margin: 0px 15px 0 5px;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 2px;

        &:before {
            content: initial;
        }

        & a {
            text-align: center;
            transition: all .3s linear 0s;
        }

        & a:hover {
            opacity: 0.8;
        }
    }
}
.share__buttons {

    ul {
        text-align: center;
        list-style-image: none;
        list-style: none;
        margin: 30px 0;
        padding: 0;
    }

    li {
        list-style-image: none;
        list-style: none;
        display: inline-block;
        margin: 0px 2px;

        &:before {
            content: initial;
        }

        a {
            width: 32px;
            display: inline-block;
            transition: all .3s linear 0s;
        }

        & a:hover {
            color: #fff;
            text-decoration: none;
            opacity: 0.8;
        }
    }
}