<div class="wrapper">
	<div class="container-full">
		<div class="row">
			<div class="col-lg-12 wow fadeInUp" data-wow-duration=".6s" data-wow-delay="1.2s">
				<div class="section__title">
					<h5>Почему клиенты выбирают нас?</h5>
					<div class="section__separator">
						<p>Мы зарекомендовали себя с лучшей стороны, наши клиенты всегда довольны результатом на 100%</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-full">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 center">
				<div class="col__advanages">
					<img width="70px" alt="Солнечные электростанции: компания «Maxisolar»" src="/images/ico_1.png">
					<div class="title">
						<p>Профессионализм</p>
					</div>
					<p>Наша команда - это лучшие специалисты с большим опытом в энергетике</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 center">
				<div class="col__advanages">
					<img width="70px" alt="Солнечные электростанции: компания «Maxisolar»" src="/images/ico_2.png">
					<div class="title">
						<p>Качество</p>
					</div>
					<p>Даем гарантию на все выполненные работы, оборудование и материалы</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 center">
				<div class="col__advanages">
					<img width="70px" alt="Солнечные электростанции: компания «Maxisolar»" src="/images/ico_3.png">
					<div class="title">
						<p>Полный сервис</p>
					</div>
					<p>Консультация, проект, монтаж, сервис, подключение «Зеленого» тарифа</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 center">
				<div class="col__advanages">
					<img width="70px" alt="Солнечные электростанции: компания «Maxisolar»" src="/images/ico_6.png">
					<div class="title">
						<p>Оборудование</p>
					</div>
					<p>Мы сотрудничаем с надежными поставщиками оборудования</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 center">
				<div class="col__advanages">
					<img width="70px" alt="Солнечные электростанции: компания «Maxisolar»" src="/images/ico_4.png">
					<div class="title">
						<p>Лучшая цена</p>
					</div>
					<p>Работаем напрямую с производителями и дистрибьюторами оборудования</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 center">
				<div class="col__advanages">
					<img width="70px" alt="Солнечные электростанции: компания «Maxisolar»" src="/images/ico_5.png">
					<div class="title">
						<p>Точно в срок</p>
					</div>
					<p>Мы строго придерживаемся установленных планов и сроков</p>
				</div>
			</div>
		</div>
	</div>
</div>