<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<p class="title__information">О компании</p>
				<div class="footer__menu">
					<ul>
						<li>- <a href="/about.html" title="О компании">О компании</a></li>
						<li>- <a href="/zelenyi-tarif.htm" title="Зеленый тариф">Зеленый тариф</a></li>
						<li>- <a href="/projects.html" title="Наши проекты">Наши проекты</a></li>
						<li>- <a href="/" title="/">Вопрос / ответ</a></li>
						<li>- <a href="/contacts.html" title="Контакты">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<p class="title__information">Наши услуги</p>
				<div class="footer__menu">
					<ul>
						<li>- <a href="/" title="/">Частные солнечные электростанции</a></li>
						<li>- <a href="/" title="/">Коммерческие солнечные электростанции</a></li>
						<li>- <a href="/" title="/">Системы автономного и резервного электроснабжения</a></li>
						<li>- <a href="/" title="/">Электромонтажные работы</a></li>
						<li>- <a href="/" title="/">Сервис и обслуживание</a></li>
					</ul>	
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<p class="title__information">Контактная информация</p>
				<p class="information"><span class="lnr lnr-map-marker"></span> г. Днепр, ул. Б. Хмельницкого, 4</p>		
				<p class="information"><span class="lnr lnr-phone-handset"></span> Менеджер:  <a title="Позвонить" href="tel:+">+38 (097) 424-79-22</a></p>
				<p class="information"><span class="lnr lnr-phone-handset"></span> Консультация:  <a title="Позвонить" href="tel:+">+38 (099) 977-15-47</a></p>				
				<p class="information"><span class="lnr lnr-bullhorn"></span> <a data-reveal-id="zvonok" title="Получить консультацию">Получить консультацию</a></p>
				<p class="information"><span class="lnr lnr-envelope"></span> <a href="mailto:info@maxisolar.com.ua">info@maxisolar.com.ua</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 center">
				<ul class="footer-social">	
					<li>Задайте вопрос в мессенджере: </li>
					<li><a class="facebook" title="Facebook" target="_blank" href="https://www.facebook.com/"><img src="/images/social_icon/facebook.svg"></a></li>
					<li><a class="instagram" title="Instagram" target="_blank" href="https://www.instagram.com/"><img src="/images/social_icon/instagram.svg"></a></li>
					<li class="hidden-xs"><a href="viber://chat?number=+380974247922" class="viber" title="Viber" target="_blank"><img src="/images/social_icon/viber.svg"></a></li>
					<li class="visible-xs-inline-block"><a href="viber://add?number=380974247922" class="viber" title="Viber" target="_blank"><img src="/images/social_icon/viber.svg"></a></li>				
					<li><a href="https://t.me/maxisolar" class="telegram" title="Telegram" target="_blank"><img src="/images/social_icon/telegram.svg"></a></li>
				</ul>
				<div class="copyright">© 2020, Компания «Maxisolar». Все права защищены</div>
				<div class="privacy"><a title="Политика конфиденциальности" href="/privacy-policy.htm">Политика конфиденциальности</a></div>
				<div class="develop">Разработка сайта: <a title="Разработка сайта" href="https://prospect-it.com.ua/" target="_blank">Prospect IT</a></div>
			</div>
		</div>
	</div>
</footer>

<!-- Scroll Up -->
<a class="scrollup"><span class="lnr lnr-chevron-up"></span></a>

<div id="zvonok" class="reveal-modal">
    <div class="title-form">Обратный звонок</div> 
    <div class="main-data">Мы свяжемся с Вами в ближайшее время!</div>
    <form id="calls" name="calls" method="post" onsubmit="javascript: feedback(this,'','/'); return false;">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-title">Ваше имя:</div>
                <input type="text" id="calls_fio" name="required" class="form-field" value="Алексей" title="Ваше имя">
            </div>
            <div class="col-lg-12">
                <div class="form-title">Ваш телефон:</div>
                <input type="text" id="calls_tel" autocomplete="off" class="form-field" name="required" value="" title="Ваш телефон">
            </div>
			<div class="result"></div>
            <div class="col-lg-12">
                <button type="submit" name="submit" class="btn b-full b-large orange-color" title="Перезвоните мне">Перезвоните мне <span class="lnr lnr-chevron-right"></span></button>
            </div>
        </div>
    </form> 
	<div class="personal-data">Данные будут использованы только для связи с вами!</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="findprice" class="reveal-modal">
    <div class="title-form">Узнать стоимость</div> 
    <div class="main-data">Мы свяжемся с Вами в ближайшее время!</div>
    <form id="price" name="price" method="post" onsubmit="javascript: feedback(this,'','/'); return false;">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-title">Ваше имя:</div>
                <input type="text" id="price_fio" name="required" class="form-field" value="Алексей" title="Ваше имя">
            </div>
            <div class="col-lg-12">
                <div class="form-title">Ваш телефон:</div>
                <input type="text" id="price_tel" autocomplete="off" class="form-field" name="required" value="" title="Ваш телефон">
			</div>
			<div class="col-lg-12">
                <div class="form-title">Ваш E-mail:</div>
                <input type="text" id="price_tel" autocomplete="off" class="form-field" name="optional" value="" title="Ваш E-mail">
            </div>
			<div class="result"></div>
            <div class="col-lg-12">
                <button type="submit" name="submit" class="btn b-full b-large orange-color" title="Отправить заявку">Отправить заявку <span class="lnr lnr-chevron-right"></span></button>
            </div>
        </div>
    </form> 
	<div class="personal-data">Данные будут использованы только для связи с вами!</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<link rel="stylesheet" href="/css/linear-icons.css">

<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/js/maskedinput.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/owl.carousel.js"></script>
<script type="text/javascript" src="/js/modernizr.js"></script>
<script type="text/javascript" src="/js/fancybox.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/wow.js"></script>

<script>
	wow = new WOW({
		boxClass: 'wow',
		animateClass: 'animated',
		offset: 0,
		mobile: true,
		live: true
	})
	wow.init();
</script>