<div class="wrapper">
	<div class="container-full">
		<div class="row">
			<div class="col-lg-12">
				<div class="section__title">
					<h3>Примеры наших проектов</h3>
					<div class="section__separator">
						<p>Примеры реализованных проектов солнечных электростанций</p>
					</div>
				</div>
			</div>
		</div>
	</div>    
    <div class="container-full">
        <div class="row relative">
            <div id="owl__slider__projects">
                <div class="item center">
                    <div class="col__project">
                        <div class="col__project__link">
                            <img src="/images/project-1.jpg" alt="Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл.">
                            <div class="col__project__layer"></div>
                            <div class="col__project__link">
                                <a class="btn white-color b-large b-60" href="/"><span class="lnr lnr-link"></span> Подробнее</a>
                                <a data-reveal-id="findprice" class="btn orange-color b-large b-60" href="/">Узнать стоимость</a>
                            </div>   
                            <span class="col__project__tariff"><span class="lnr lnr-leaf"></span> Зеленый тариф</span>			
                        </div>
                        <div class="title">
                            <a href="/" title="Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл. ">Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл.</a>
                            <div class="description">Строительство сетевой солнечной электростанции 32 кВт. в Днепропетровской обл. с. Куриловка</div>
                            <div class="date">24 Ноября, 2020</div>
                        </div>
                    </div>
                </div>    
                <div class="item center">
                    <div class="col__project">
                        <div class="col__project__link">
                            <img src="/images/project-2.jpg" alt="Коммерческая сетевая СЭС 109 кВт. Запорожская обл.">
                            <div class="col__project__layer"></div>
                            <div class="col__project__link">
                                <a class="btn white-color b-large b-60" href="/"><span class="lnr lnr-link"></span> Подробнее</a>
                                <a data-reveal-id="findprice" class="btn orange-color b-large b-60" href="/">Узнать стоимость</a>
                            </div>   
                            <span class="col__project__tariff"><span class="lnr lnr-leaf"></span> Зеленый тариф</span>			
                        </div>
                        <div class="title">
                            <a href="/" title="Коммерческая сетевая СЭС 109 кВт. Запорожская обл.">Коммерческая сетевая СЭС 109 кВт. Запорожская обл.</a>
                            <div class="description">Строительство коммерческой солнечной электростанции в Запорожская области</div>
                            <div class="date">10 Ноября, 2020</div>
                        </div>
                    </div>
                </div>    
                <div class="item center">
                    <div class="col__project">
                        <div class="col__project__link">
                            <img src="/images/project-3.jpg" alt="Сетевая СЭС 30 кВт, г. Полтава">
                            <div class="col__project__layer"></div>
                            <div class="col__project__link">
                                <a class="btn white-color b-large b-60" href="/"><span class="lnr lnr-link"></span> Подробнее</a>
                                <a data-reveal-id="findprice" class="btn orange-color b-large b-60" href="/">Узнать стоимость</a>
                            </div>   
                            <span class="col__project__tariff"><span class="lnr lnr-leaf"></span> Зеленый тариф</span>			
                        </div>
                        <div class="title">
                            <a href="/" title="Сетевая СЭС 30 кВт, г. Полтава">Сетевая СЭС 30 кВт, г. Полтава</a>
                            <div class="description">Строительство сетевой солнечной электростанции мощностью 30 кВт. в городе Полтава</div>
                            <div class="date">24 Ноября, 2020</div>
                        </div>
                    </div>
                </div>
                <div class="item center">
                    <div class="col__project">
                        <div class="col__project__link">
                            <img src="/images/project-1.jpg" alt="Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл.">
                            <div class="col__project__layer"></div>
                            <div class="col__project__link">
                                <a class="btn white-color b-large b-60" href="/"><span class="lnr lnr-link"></span> Подробнее</a>
                                <a data-reveal-id="findprice" class="btn orange-color b-large b-60" href="/">Узнать стоимость</a>
                            </div>   
                            <span class="col__project__tariff"><span class="lnr lnr-leaf"></span> Зеленый тариф</span>			
                        </div>
                        <div class="title">
                            <a href="/" title="Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл. ">Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл.</a>
                            <div class="description">Строительство сетевой солнечной электростанции 32 кВт. в Днепропетровской обл. с. Куриловка</div>
                            <div class="date">24 Ноября, 2020</div>
                        </div>
                    </div>
                </div>    
                <div class="item center">
                    <div class="col__project">
                        <div class="col__project__link">
                            <img src="/images/project-2.jpg" alt="Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл.">
                            <div class="col__project__layer"></div>
                            <div class="col__project__link">
                                <a class="btn white-color b-large b-60" href="/"><span class="lnr lnr-link"></span> Подробнее</a>
                                <a data-reveal-id="findprice" class="btn orange-color b-large b-60" href="/">Узнать стоимость</a>
                            </div>   
                            <span class="col__project__tariff"><span class="lnr lnr-leaf"></span> Зеленый тариф</span>			
                        </div>
                        <div class="title">
                            <a href="/" title="Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл. ">Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл.</a>
                            <div class="description">Строительство сетевой солнечной электростанции 32 кВт. в Днепропетровской обл. с. Куриловка</div>
                            <div class="date">24 Ноября, 2020</div>
                        </div>
                    </div>
                </div>    
                <div class="item center">
                    <div class="col__project">
                        <div class="col__project__link">
                            <img src="/images/project-3.jpg" alt="Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл.">
                            <div class="col__project__layer"></div>
                            <div class="col__project__link">
                                <a class="btn white-color b-large b-60" href="/"><span class="lnr lnr-link"></span> Подробнее</a>
                                <a data-reveal-id="findprice" class="btn orange-color b-large b-60" href="/">Узнать стоимость</a>
                            </div>   
                            <span class="col__project__tariff"><span class="lnr lnr-leaf"></span> Зеленый тариф</span>			
                        </div>
                        <div class="title">
                            <a href="/" title="Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл. ">Сетевая СЭС 32 кВт, с. Куриловка, Днепр. обл.</a>
                            <div class="description">Строительство сетевой солнечной электростанции 32 кВт. в Днепропетровской обл. с. Куриловка</div>
                            <div class="date">24 Ноября, 2020</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl__slider__controls">
				<div class="slider_arrow slider_arrow_left"><span class="lnr lnr-chevron-left"></span></div>
				<div class="slider_arrow slider_arrow_right"><span class="lnr lnr-chevron-right"></span></div>
			</div>
        </div> 
        <div class="row">
            <div class="col-lg-12 center wow fadeInRightBig" data-wow-duration=".2s">
                <a href="/projects/" class="btn b-large orange-color" title="Смотреть все проекты">Смотреть все проекты <span class="lnr lnr-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>