<div class="wrapper">
	<div class="grey__backround padding__tb__40">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section__title">
						<h2>Предоставляем полный комплекс услуг</h2>
						<div class="section__separator">
							<p>Строительство солнечных электростанций любой сложности и мощности «Под ключ»</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 wow fadeInLeftBig center" data-wow-duration=".9s" data-wow-delay=".2s">
					<div class="col__services">
						<a href="/" title="Солнечные электростанции: компания «Maxisolar»">
							<img alt="Солнечные электростанции: компания «Maxisolar»" src="/images/icon_2.png">
						</a>
						<div class="title">
							<a href="/">Частные солнечные электростанции</a>
						</div>  
						<p>Строительство солнечных электростанций для дома или дачи</p>
						<a class="btn b-average orange-color" href="/" title="Подробнее">Подробнее <span class="lnr lnr-chevron-right"></span></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 center">
					<div class="col__services border">
						<a href="/" title="Солнечные электростанции: компания «Maxisolar»">
							<img alt="Солнечные электростанции: компания «Maxisolar»" src="/images/icon_1.png">
						</a>
						<div class="title">
							<a href="/">Коммерческие солнечные электростанции</a>
						</div>  
						<p>Строительство электростанций для бизнеса и предприятий</p>
						<a class="btn b-average orange-color" href="/" title="Подробнее">Подробнее <span class="lnr lnr-chevron-right"></span></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 wow fadeInRightBig center" data-wow-duration=".9s" data-wow-delay=".2s">
					<div class="col__services">
						<a href="/" title="Солнечные электростанции: компания «Maxisolar»">
							<img alt="Солнечные электростанции: компания «Maxisolar»" src="/images/icon_5.png">
						</a>
						<div class="title">
							<a href="/">Автономное и резервное электроснабжение</a>
						</div>  
						<p>Системы автономного  и резервного электроснабжения</p>
						<a class="btn b-average orange-color" href="/" title="Подробнее">Подробнее <span class="lnr lnr-chevron-right"></span></a>
					</div>
				</div>
			</div>
			
			<div class="line__stripped"></div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 wow fadeInLeftBig center" data-wow-duration=".6s" data-wow-delay=".3s" data-wow-offset="200">
					<div class="col__services">
						<a href="/" title="Солнечные электростанции: компания «Maxisolar»">
							<img alt="Солнечные электростанции: компания «Maxisolar»" src="/images/icon_3.png">
						</a>
						<div class="title">
							<a href="/">«Зеленый» тариф</a>
						</div>  
						<p>Гарантированно оформим договор «Зеленого» тарифа</p>
						<a class="btn b-average orange-color" href="/" title="Подробнее">Подробнее <span class="lnr lnr-chevron-right"></span></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 wow fadeIn center" data-wow-duration=".6s" data-wow-delay=".3s" data-wow-offset="180">
					<div class="col__services border">
						<a href="/" title="Солнечные электростанции: компания «Maxisolar»">
							<img alt="Солнечные электростанции: компания «Maxisolar»" src="/images/icon_6.png">
						</a>
						<div class="title">
							<a href="/">Электромонтажные работы</a>
						</div>  
						<p>Полный спектр услуг сфере электроснабжения и электромонтажа </p>
						<a class="btn b-average orange-color" href="/" title="Подробнее">Подробнее <span class="lnr lnr-chevron-right"></span></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 wow fadeInRightBig center" data-wow-duration=".6s" data-wow-delay=".3s" data-wow-offset="200">
					<div class="col__services">
						<a href="/" title="Солнечные электростанции: компания «Maxisolar»">
							<img alt="Солнечные электростанции: компания «Maxisolar»" src="/images/icon_4.png">
						</a>
						<div class="title">
							<a href="/">Гарантия и сервис</a>
						</div>  
						<p>Предоставим полное гарантийное и сервисное обслуживание</p>
						<a class="btn b-average orange-color" href="/" title="Подробнее">Подробнее <span class="lnr lnr-chevron-right"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>