<div class="relative">
	<div id="owl__slider" class="owl__slider">
		<div class="owl__slider__item">
			<div class="owl__slider__wrapper" style="background-image: url('/images/slide_1.jpg');">	
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-12 center">
							<div class="owl__slider__content">
								<div class="title">Солнечные электростанции для дома, дачи, бизнеса</div>
								<div class="description">Проектирование и строительство эффективных и надежных солнечных электростанций для любых объектов «Под ключ»</div>
								<div class="link">
									<a data-reveal-id="zvonok" class="btn b-large orange-color" title="Оставить заявку">Оставить заявку</a>
									<a class="btn b-ml-10 b-large white-color" href="/"><span class="lnr lnr-link"></span> Подробнее</a>
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="owl__slider__item">
			<div class="owl__slider__wrapper" style="background-image: url('/images/slide_2.jpg');">	
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-12 center">
							<div class="owl__slider__content">
								<div class="title">Подключение, оформление «Зеленого» тарифа</div>
								<div class="description">Специалисты нашей компании имеют большой и успешный опыт оформления «Зеленого» тарифа по всей территории Украины</div>
								<div class="link">
									<a data-reveal-id="zvonok" class="b-large orange-color" title="Оставить заявку">Оставить заявку</a>
									<a class="btn b-ml-10 b-large white-color" href="/"><span class="lnr lnr-link"></span> Подробнее</a>
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="owl__slider__item">
			<div class="owl__slider__wrapper" style="background-image: url('/images/slide_4.jpg');">	
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-12 center">
							<div class="owl__slider__content">
								<div class="title">Cистемы автономного и резервного электроснабжения</div>
								<div class="description">Проектирование и строительство систем для аварийного или автономного электроснабжения</div>
								<div class="link">
									<a data-reveal-id="zvonok" class="b-large orange-color" title="Оставить заявку">Оставить заявку</a>
									<a class="btn b-ml-10 b-large white-color" href="/"><span class="lnr lnr-link"></span> Подробнее</a>
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="owl__slider__item">
			<div class="owl__slider__wrapper" style="background-image: url('/images/slide_3.jpg');">	
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-10 col-lg-12 center">
							<div class="owl__slider__content">
								<div class="title">Выполняем электромонтажные работы «Под ключ»</div>
								<div class="description">Полный спектр услуг и работ в сфере электроснабжения и электромонтажа любых объектов «Под ключ»</div>
								<div class="link">
									<a href="/" class="btn b-large orange-color" title="Подробнее">Подробнее</a>
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="owl__slider__controls container-full">
		<div class="slider_arrow slider_arrow_left"><span class="lnr lnr-chevron-left"></span></div>
		<div class="slider_arrow slider_arrow_right"><span class="lnr lnr-chevron-right"></span></div>
	</div>
	<div class="clearfix"></div>
</div>